*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
   
    background-color: #1D1F20;
    line-height: 1.4;
}
/*---- 1st page section ---*/
:root {
    --primary-color:rgba(211, 122, 49, 0.3);
    --overlay-color:rgba(121, 69, 26, 0.4);
    --menu-speed:0.75s;
}
.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}
.showcase {
    background-color: var(--primary-color);
    color:#fff;
    height: 100vh;
    width: 100vw;
    position: relative;
}
.showcase:before{
    content:'';
    background: url('./resources/Ashley-39.jpg') no-repeat center center/cover;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
}
.showcase .showcase-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.showcase h2 {
    font-size: 2rem;
    color: #7a2e02;
}
.showcase h1{
    font-size: 5rem;
    font-family: 'Ruthie', cursive;
    color:hsl(350,70.21%,36.76%);
    text-shadow: #fff 2px 2px;
    letter-spacing: 2px;
}
.btn{
    display: inline-block;
    border: none;
    background-color: #49371e;
    color:#fff;
    padding:0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 2s ease-in;
}
.btn:hover{
    opacity: 0.5;
    background-color: rgb(78, 14, 14);
}
/*menu*/

.menu-wrap{
    position:fixed;
    top:10px;
    left:10px;
    z-index: 1;
}
.menu-wrap h5{
    color: #fff;
    letter-spacing: 2px;
}
.menu-wrap .toggle{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width:50px;
    height:50px;
    opacity: 0;
}

.menu-wrap .burger{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width:60px;
    height: 60px;
    padding: 1rem;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*burger line*/

.menu-wrap .burger > div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

/*style top-bottom lines*/
.menu-wrap .burger > div:before,
.menu-wrap .burger > div:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:-10px;
    width:100%;
    height: 2px;
    background: inherit;
}
/*moves line down */
.menu-wrap .burger > div:after {
    top:10px;
}

/*toggle animate */
.menu-wrap .toggle:checked + .burger > div {
    transform: rotate(135deg);
}
/*turn line into X */
.menu-wrap .toggle:checked + .burger > div:before,
.menu-wrap .toggle:checked + .burger > div:after {
    top: 0;
    transform: rotate(90deg);
}
/*rotate on hover when checked */
.menu-wrap .toggle:checked:hover + .burger > div {
    transform: rotate(225deg);
}
/* show menu */

.menu-wrap .toggle:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggle:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggle:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
/*moved menu to middle */
.menu-wrap .menu {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background: var(--overlay-color);
    border-radius: 50%;
    width:200vw;
    height:200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0); 
    transition: all 0.4s ease;
}
.menu-wrap .menu > div > div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li{
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding:1rem;
}
.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/*----gallery section ---*/
.slider {
    position: relative; 
    height: 100vh;
    width:100vw;
    border: #49371e 5px solid;
}
.slide {
    position: absolute;
    top:100px;
    left:250px;
    width: 70%;
    height:80%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border: #49371e 5px solid;
}
.slide.current{
    opacity:1;
}
@media only screen and (max-width: 500px){
    .slide{
        width:100%;
        height:100%;
        left:0;
        top:0;
    }

}
.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 16%;
}
.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15%;
}
.buttons button{
    border:5px solid rgb(75, 66, 66);
    background-color: transparent;
    color:#fff;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 30%;
    outline: none;
}
.buttons button:hover{
    background-color: #7a2e02;
    color:#f8c296
}

/*slider*/
.slide:first-child {
    background: url('./resources/Ashley-13.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
    background: url('./resources/Ashley-19.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
    background: url('./resources/momtobe1.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
    background: url('./resources/Daddy-bug-mom-breastfeed-6.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
    background: url('./resources/motherhood1.jpg') no-repeat center top/cover;
}
.slide:nth-child(6){
    background: url('./resources/white\ dress-10.jpg') no-repeat center top/cover;
}

/* -----about section----- */
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background: url('./resources/Ashley-8.jpg') no-repeat center center/cover;
}

.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me h2{
    margin-bottom: 30px;
    font-size: 3rem;
    color: #f8c296;
    font-family: 'Yesteryear', cursive;
}
.about-me img{
    width:300px;
    border: 10px solid #4D3C24;
}
.intro{
    width:800px;
    height: 400px;
    margin-left: 20px;
    padding-top: 30px;
}

.intro p{
    padding-top: 30px;
    font-size: 20px;
    color: #faf1e7;
    
}
@media only screen and (max-width: 500px){
    .about-me h2{
        font-size: 25px;
    }
    .about-me img{
        width: 90%;
    }
    .intro{
        display: block;
    }
    .intro p{
        font-size: 18px;
    }
}
/*--portfolio--*/

.portfolio{
    width:100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
#portfolio h2{
    font-family: 'Yesteryear', cursive;
    height: 70px;
    text-align: center;
    font-size: 40px;
    line-height:70px ;
    color:rgb(248,194,150);
}
.card-portfolio{
    width: 100%;
    height:900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width:500px;
    height:600px;
}

.card:hover{
    border: 15px solid rgb(253, 252, 252);

}
.card img{
    width: 500px;
    height:600px;
    border: #49371e 5px solid;
}
.desc{
    text-align: center;
    font-family:'Qwigley', cursive;
    color: #faf1e7;
    font-size: 20px;
    line-height: 20px;
}

@media only screen and (max-width: 500px){
    .card-portfolio{
        width:50%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

/* contact*/
.contact{
    width:100vw;
    height: 100vh;
    background-color: rgb(245, 239, 231);
}
.media{
    display: flex;
    flex-direction: row;
    width:100vw;
    max-height: max-content;
    justify-content: center;
    align-items: center;
    margin:auto;
}
.media-box{
    display: flex;
    width:210px;
    height:200;
    margin:10px;
    border: 5px  #4D3C24 solid;
}
.media-box img{
    width:200px;
    height: 200px;
}
.contact h4{
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    color: #4D3C24;
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contact-info p{
    padding: 5px;
    letter-spacing: 5px;
}
@media only screen and (max-width: 500px) {
    .media{
      display: flex;
      flex-direction: column;
    }
}